<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="frontendService"
          class="com.otus.hw_16.front.frontendService.FrontendServiceImpl">
        <constructor-arg index="0" ref="msgWebSocketHandler"/>
        <constructor-arg index="1" ref="msgWorker"/>
    </bean>

    <bean id="msgWebSocketHandler"
          class="com.otus.hw_16.front.websocket.MsgWebSocketHandler"/>

    <bean id="msgWorker"
          class="com.otus.hw_16.master.channel.ClientSocketMsgWorker"
          init-method="init">
        <constructor-arg index="0" value="localhost"/>
        <constructor-arg index="1" value="5050"/>
    </bean>

</beans>
